<!DOCTYPE html>
<html>
<head>
    <title>Upload Syllabus</title>
</head>
<body>
    <h2>Upload Syllabus</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    {% if success %}
    <p style="color:green;">{{ success }}</p>

    <form action="/download" method="get">
        <button type="submit">Download Question Paper</button>
    </form>
    {% endif %}


    <form method="post" enctype="multipart/form-data">
        <input type="file" name="syllabus" required>
        <br><br>
        <button type="submit">Generate Question Paper</button>
    </form>

    <br>
    <a href="/logout">Logout</a>
</body>
</html>
